<div class="container">
  <h1>About Us</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium ad aliquam amet aut consectetur culpa
    cumque distinctio doloribus error eveniet ex fugiat hic in inventore laboriosam nesciunt obcaecati quae quasi quia
    quo, quos rem repudiandae sequi tempora temporibus unde?</p>
</div>

