<%= render partial: "shared/header" %>

<div class="container mt-5">

  <h1>Home Page</h1>

  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-6">
      <h2>Lorem ipsum dolor.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
      <ul>
        <li>Lorem ipsum.</li>
        <li>Ratione, sed.</li>
        <li>Ab, culpa.</li>
        <li>Quas, reprehenderit.</li>
        <li>Nostrum, unde.</li>
        <li>Eos, repudiandae.</li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit,
        quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
    </div>
    <div class="col-lg-6">
      <img class="img-fluid rounded" src="http://placehold.it/700x450" alt="">
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti
        beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
    </div>
  </div>

</div>

<%= render partial: "shared/footer" %>
